@use "../abstracts/" as *;

.container {
     max-width: 1200px; 
}

@include mobile {
     .container {
          width: 100%;
     }
}

@media screen and (min-width: 1200px) {
     .ellipse23,
     .ellipse24,
     .frame50,
     .objects1 {
         display: none;
     }
 }